

.projectPreview {
    /* border: 1px solid #93a5c1; */
    padding: 0.5rem;
    border-radius: 8px;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image info";
    user-select: none;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    color: #00255b;
}

.projectPreview:hover {
    box-shadow: inset 0 0 0px 2px #00255b;
}

.projectImpact {
    font-weight: bold;
    margin-top: 0.5rem;
    color: #00255b;
}

.projectInfo {
    grid-area: info;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.projectImage {
    grid-area: image;
    width: 150px;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #c2cbdb;
}

.projectTitle {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00255b;
}

.projectDescription {
    grid-area: description;
    font-size: 1rem;
    color: #1d4073;
}