

.projectPreview {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image info";
    user-select: none;
    cursor: pointer;
    width: 100%;
}

.projectPreview:hover {
    box-shadow: inset 0 0 0px 2px rgba(187, 0, 255, 0.1);
}

.projectInfo {
    grid-area: info;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.projectImage {
    grid-area: image;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    background-color: red;
}

.projectTitle {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: bold;
}

.projectDescription {
    grid-area: description;
    font-size: 1rem;
    color: #666;
}