#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 4rem;

}

.logo {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #93a5c1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
