#root {
  max-width: min(1280px, calc(100vw - 2rem));
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 4rem;

}

.logo {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #93a5c1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.2rem;
    align-items: center;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #93a5c1;
  }

  .header-links {
    gap: 1rem;
    margin-top: 0.2rem;
  }
}

